<!DOCTYPE html>
<html>
<head>
	<title>SoulMate</title>
	<link rel="stylesheet" type="text/css" href="css/landing.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>

	<div class="navigationbar">
		<div class="logo">
			SoulMate				
		</div>
		<div class="navigationbarlinks">
			<div class="aboutus">
				<a href="#about">ABOUT US</a>
			</div>
			<div class="contactus">
				<a href="#contact"> CONTACT US</a>
			</div>
		</div>
	</div>
    
	<div class="loginsection">
        <div class="loginlogo">
            <svg viewBox="0 0 960 300">
                    <symbol id="s-text">
                        <text text-anchor="middle" x="50%" y="80%">SoulMate</text>
                    </symbol>

                    <g class = "g-ants">
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                    </g>
            </svg>
            
        </div>
		<div class="login">
			<a href="/signin">SIgn in</a>
			<a href="/signup">SIgn Up</a>
		</div>
	</div>
    
    <div class="feature">
        <p>Find  Like-Minded  Peoples</p>
        <img alt="pic" src="images/fea2.jpg">
    </div>
    <div class="feature">
        <img alt="pic" src="images/back2.jpg">
        <p>Browse  through  profiles  via  your  particular  field  of  interests</p>
    </div>
    <div class="feature">
        <p>Play  a  Fun-Game  and  find   the  best  match</p>
        <img alt="pic" src="images/fea1.jpg">
    </div>
    <div class="feature">
        <img alt="pic" src="images/fea3.jpg">
        <p>Give  a  fresh  start  to  your  conversation  with  our  suggested  ice-breakers</p>
    </div>
    <div id="about">
        <div class="abouts">
            <img alt="pic" src="images/fea1.jpg">
            <div class="aboutname">Devbrat</div>
            <div class="aboutinfo"> Senior Devloper</div>
        </div>
        <div class="abouts">
            <img alt="pic" src="images/back2.jpg">
            <div class="aboutname">Devbrat</div>
            <div class="aboutinfo"> Senior Devloper</div>
        </div>
        <div class="abouts">
            <img alt="pic" src="images/back2.jpg">
            <div class="aboutname">Devbrat</div>
            <div class="aboutinfo"> Senior Devloper</div>
        </div>
    </div>
    
    
    <script></script>
</body>
</html>